html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #fafbfc;
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
    /* color: white; */
}

.site-container {
    margin: auto;
    max-width: 1200px;
    width: 80%;
}

.masthead {
    background: #2e3d49;
    padding: 2em 0;
}

.masthead h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 3em;
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.masthead h2 {
    color: #ffffff;
    font-weight: normal;
    font-size: 2em;
    margin: 0;
    margin-bottom: 0.2em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*** Search Form ***/
#search-form {
    display: flex;
    padding: 1em 0;
}

#search-keyword {
    border: none;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 1.5em;
    padding: 1.25em 2em;
}

#submit-btn {
    background-color: #15c26b;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 1em 4em;
    text-transform: uppercase;
}

#submit-btn:hover {
    background-color: #12a159;
}


/*** Response Container ***/
#response-container {
    margin-top: 2em;
}

/*** Image Styline ***/
figure {
    margin: 0;
    /* margin-bottom: 2em; */
    position: relative;
    text-align: center;
}

figure img {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
}

figcaption {
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 14px;
    padding: 0.8em 1.4em;
    position: absolute;
    width: 100%;
}

/*** Article Styling ***/
ul {
    list-style: none;
    padding: 0;
}

.article {
    /* background: url('../images/icon-article.png'), #ffffff; */
    /* background-position: 1.5em 1.2em; */
    /* background-repeat: no-repeat; */
    /* background-size: 1.8em; */
    border: solid 1px #dbe2e8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    /* padding: 1em 2em 1em 4.8em; */
    padding: 1.5em 3em;
    text-align: center;
}

.article:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.article h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.article h2 a {
    color: #02b3e4;
    text-decoration: none;
}

.article h2 a:hover {
    text-decoration: underline;
}

.article p {
    font-size: 1.1em;
    line-height: 1.4;
    color: #0c4a5c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.date {
    text-align: right;
    font-size: 1.2em;
    margin-top: 2.4em;
    color: #02b3e4;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*** Error State Styling ***/
.error-no-image {
    background: url(../images/icon-no-image.png) no-repeat 50% top;
    margin: 3em auto;
    padding-top: 8em;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #02b3e4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.error-no-articles {
    background: url('../images/icon-no-articles.png') no-repeat 50% top;
    margin-top: 3em;
    padding-top: 8em;
    text-align: center;
}

/*** Helpers ***/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}


#search-options {
    margin-right: 1em;
}

#search-options label {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* WORKING ON ACCESSIBILITY!! */

*:focus {
    outline: 0;
    box-shadow: 0 0 20px #02b3e4;
    border-color: #02b3e4
}

[type='submit']:focus {
    font-weight: bolder;
    font-size: 0.9em;
}

button:focus {
    font-weight: bold;
}